<!-- <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-danger">Clear</button>
    </div>
</div> -->

<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="No Image" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList()" style="cursor: pointer">Add Ing. to shopping_list</a></li>
                <li><a (click)="onEditRecipe()" style="cursor: pointer">Edit Ing. to shopping_list</a></li>
                <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Delete Ing. to shopping_list</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingrident of recipe.ingridients">{{ingrident.name}} - {{ingrident.amount}}</li>
        </ul>
    </div>
</div>